@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
}
main {
  background-color: mediumaquamarine;
  height: 90vh;
  width: 100vh;
  margin: auto;
  transform: skewX(30deg) rotate(20deg);
  display: inline-block;
  align-items: center;
  transition: scale(1.25) rotate(360deg);
}

main > div {
  width: 40%;
  margin: auto;
  padding: 10%;
}
.info h2 {
  transition: scale(1.25) rotate(360deg);
}